name: Tests

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install python dependencies and package
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[tests]"
      - name: Run unit tests
        # Specify environment for cli runner: simplest terminal possible to properly get
        # the error messages in the CI setup
        run: |
          NO_COLOR=1 TERM=dumb pytest tests --cov=altimetry_downloader_aviso --cov-report=xml:coverage.xml --cov-report=term --cov-fail-under=100
      - name: Upload unit test coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-coverage
          include-hidden-files: true
          path: |
            .coverage
            coverage.xml
